<fieldset>
    <legend>Administrative Staff</legend>
    <div class="form-group">
        <label for="headteacher">Headteacher</label>
        <input type="text" class="form-control" id="headteacher" name="headteacher">
    </div>
    <div class="form-group">
        <label for="deputyHeadteacher">Deputy Headteacher</label>
        <input type="text" class="form-control" id="deputyHeadteacher" name="deputy_headteacher">
    </div>
    <div class="form-group">
        <label for="secretary">Secretary</label>
        <input type="text" class="form-control" id="secretary" name="secretary">
    </div>
    <div class="form-group">
        <label for="librarian">Librarian</label>
        <input type="text" class="form-control" id="librarian" name="librarian">
    </div>
    <div class="form-group">
        <label for="accountant">Accountant</label>
        <input type="text" class="form-control" id="accountant" name="accountant">
    </div>
    <div class="form-group">
        <label for="otherStaff">Other Staff (Specify)</label>
        <input type="text" class="form-control" id="otherStaff" name="other_staff">
    </div>
    <div class="form-group">
        <label for="totalNumberOfAdministrativeStaff">Total Number of Administrative Staff</label>
        <input type="text" class="form-control" id="totalNumberOfAdministrativeStaff" name="total_number_of_administrative_staff" readonly>
    </div>
</fieldset>
