<fieldset>
    <legend>Head Teacher Information</legend>
    <div class="form-group">
        <label for="htName">HT/Name</label>
        <input type="text" class="form-control" id="htName" name="ht_name">
    </div>
    <div class="form-group">
        <label for="qualificationOfHeadteacher">Qualification of Head Teacher</label>
        <input type="text" class="form-control" id="qualificationOfHeadteacher" name="qualification_of_headteacher">
    </div>
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="tel" class="form-control" id="telephone" name="telephone">
    </div>
</fieldset>
