<fieldset>
    <legend>Location Details</legend>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Village</td>
                <td><input type="text" class="form-control" id="village" name="village"></td>
            </tr>
            <tr>
                <td>Cell</td>
                <td><input type="text" class="form-control" id="cell" name="cell"></td>
            </tr>
            <tr>
                <td>Sector</td>
                <td><input type="text" class="form-control" id="sector" name="sector"></td>
            </tr>
            <tr>
                <td>District</td>
                <td><input type="text" class="form-control" id="district" name="district"></td>
            </tr>
            <tr>
                <td>Province</td>
                <td><input type="text" class="form-control" id="province" name="province"></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="number" step="0.00000001" class="form-control" id="latitude" name="latitude" placeholder="e.g. -1.9441">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="number" step="0.00000001" class="form-control" id="longitude" name="longitude" placeholder="e.g. 30.0619">
    </div>
</fieldset>
