<fieldset>
    <legend>Summary</legend>
    <div class="summary-container">
        <h4>Basic Information</h4>
        <div id="basicInfoSummary" class="summary-section"></div>
        
        <h4>Student Information</h4>
        <div id="studentInfoSummary" class="summary-section"></div>
        
        <h4>Staff Information</h4>
        <div id="staffInfoSummary" class="summary-section"></div>
        
        <h4>Infrastructure</h4>
        <div id="infrastructureInfoSummary" class="summary-section"></div>
    </div>
</fieldset>
