<fieldset>
    <legend>Supporting Staff</legend>
    <div class="form-group">
        <label for="cleaners">Cleaners</label>
        <input type="text" class="form-control" id="cleaners" name="cleaners">
    </div>
    <div class="form-group">
        <label for="watchmen">Watchmen</label>
        <input type="text" class="form-control" id="watchmen" name="watchmen">
    </div>
    <div class="form-group">
        <label for="schoolCooks">School Cooks</label>
        <input type="text" class="form-control" id="schoolCooks" name="school_cooks">
    </div>
    <div class="form-group">
        <label for="storekeeper">Storekeeper</label>
        <input type="text" class="form-control" id="storekeeper" name="storekeeper">
    </div>
    <div class="form-group">
        <label for="drivers">Drivers</label>
        <input type="text" class="form-control" id="drivers" name="drivers">
    </div>
    <div class="form-group">
        <label for="otherSupportingStaff">Other Supporting Staff (Specify)</label>
        <input type="text" class="form-control" id="otherSupportingStaff" name="other_supporting_staff">
    </div>
    <div class="form-group">
        <label for="totalNumberOfSupportingStaff">Total Number of Supporting Staff</label>
        <input type="text" class="form-control" id="totalNumberOfSupportingStaff" name="total_number_of_supporting_staff" readonly>
    </div>
</fieldset>
