<div class="card mb-3">
    <div class="card-header">
        <legend>School Information</legend>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="schoolName">School Name</label>
            <input type="text" class="form-control" id="schoolName" name="school_name" required>
        </div>
        <div class="form-group">
            <label for="schoolCode">School Code</label>
            <input type="text" class="form-control" id="schoolCode" name="school_code">
        </div>
        <div class="form-group">
            <label>School Address</label>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Village</td>
                        <td><input type="text" class="form-control" id="village" name="village" required readonly></td>
                    </tr>
                    <tr>
                        <td>Cell</td>
                        <td><input type="text" class="form-control" id="cell" name="cell" required readonly></td>
                    </tr>
                    <tr>
                        <td>Sector</td>
                        <td><input type="text" class="form-control" id="sector" name="sector" required readonly></td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td><input type="text" class="form-control" id="district" name="district" required readonly></td>
                    </tr>
                    <tr>
                        <td>Province</td>
                        <td><input type="text" class="form-control" id="province" name="province" required readonly></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
